<% provide(:title, @user.name) %>
<!--rowspan:縦結合、colspan：横結合-->
<div>
	<table class="table table-bordered table-condensed user-table">
		<tr>
			<td>
				<%= link_to "◀️", user_path(date: @first_day.prev_month), class: "btn btn-info" %>
				<!--@first_day = params[:date].nil? ? Date.current.beginning_of_month : params[:date].to_date-->
				【<%= l(@first_day, format: :middle) %>】時間管理表
				<%= link_to "▶️", user_path(date: @first_day.next_month), class: "btn btn-info" %>
			</td>
			<td>指定勤務開始時間 : <%= @user.designated_work_start_time.strftime("%R") %><br/>
			<!--T.strftime 時刻を format 文字列に従って文字列に変換した結果を返します。-->
					指定勤務終了時間 : <%= @user.designated_work_end_time.strftime("%R") %></td> <!-- <br/>で改行できる -->
			<td colspan="3"><br/>基本時間 : <%= format_basic_info(@user.basic_time) %></td>
			<td><br/>初日 : <%= l(@first_day, format: :short) %></td>
		</tr>

		<tr>
			<td>所属：<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
			<!--@userのユーザーオブジェクトにaffiliationが存在するか？存在する場合はその値を、存在しない場合は"未所属"という文字列を出力-->
			<td>氏名 :<%= @user.name %></td>
			<td>コード</td>
			<td><%= @user.employee_number %></td>
			<td>出勤日数 : <%= @worked_sum %>日</td>
			<td>締め : <%= l(@last_day, format: :short) %></td>
		</tr>
	</table>
</div>

<% if @user.role.superior? %>
	<div class="notice">
		<p>【 所属長承認申請のお知らせ 】
			<% if @month_report_applyings.present? %>
				<%= link_to " #{@month_report_applyings.count}件の通知があります", user_month_report_receiving_index_path(@user, @month_report), remote: true, class: "notice-superior" %>
			<% end %>
		</p>
		<p>【 勤怠変更申請のお知らせ 】
			<% if @change_attendance_applyings.present? %>
				<%= link_to " #{@change_attendance_applyings.count}件の通知があります", user_attendance_change_attendance_employee_index_path(@user, @attendances), remote: true, class: "notice-superior" %>
			<% end %>
		</p>
		<p>【 残業申請のお知らせ 】
			<% if @overtime_appliyings.present? %>
				<%= link_to " #{@overtime_appliyings.count}件の通知があります", user_attendance_overtime_employee_index_path(@user, @attendances), remote: true, class: "notice-superior" %>
				<%= link_to "社員からの残業申請", attendances_overtime_index_user_path(@user), class: "btn btn-success" %>
			<% end %>
		</p>
	</div>
<% end %>

	
	<div class="btn btn-users-show" >
		<%= link_to "勤怠を編集2", attendances_editing_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
		<%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-success" %>
		<!--paramsハッシュにdateキーとして、@first_dayを指定しています。
		これで受け取ったparams[:date]をもとに、どの月の情報を表示するか判断できるようになります-->
		<%=link_to "CSV出力", '#', class: "btn btn-primary" %>
		<%= link_to "勤怠修正ログ (承認済)", attendances_edit_log_user_path, class: "btn btn-primary attendance-edit-log" %>
	</div>

<div>
	<table class="table table-bordered table-condensed table-hover" id="table-attendances">
		<thead>
			<tr>
				<th rowspan="3">残業申請</th>
				<th rowspan="3">日付</th>
				<th rowspan="3">曜日</th>
				<th colspan="8">実績</th>
				<th colspan="5">所定外勤務</th>
			</tr>
			<tr>
				<th colspan="3">出社</th>
				<th colspan="3">退社</th>
				<th rowspan="2">在社時間</th>
				<th rowspan="2">備考</th>
				<th colspan="2">終了予定時間</th>
				<th rowspan="2">時間外時間</th>
				<th rowspan="2">業務処理内容</th>
				<th rowspan="2">指示者確認<%= "\u329e" %></th>
				</tr>
				<tr>
				<th>時</th>
				<th>分</th>
				<th></th>
				<th>時</th>
				<th>分</th>
				<th></th>
				<th>時</th>
				<th>分</th>
			</tr>
		</thead>
			
		<tbody>
		<% @attendances.each do |attendance| %> <!--# 範囲オブジェクトとして扱う-->
		<!--@attendances = @user.attendances.where(worked_on: @first_day..@last_day).order(worked_on)-->
			<tr>
				<td><%= link_to "残業申請", user_attendance_edit_overtime_work_end_plan_path(@user, attendance), remote: true, class: "btn btn-primary" %></td>
				<td><%= l(attendance.worked_on, format: :short) %></td> <!--config/localesディレクトリにあるja.ymlロケールファイルを参照-->
				<td>
				<% if attendance.worked_on.wday == 0 %> <!--日曜日の色 赤-->
					<font color="#ff000">
				<% elsif attendance.worked_on.wday == 6 %> <!--土曜日の色 青-->
					<font color="#0033cc">
				<% end %>
				<%= $days_of_the_week[attendance.worked_on.wday] %></td>
				<td>
					<%= l(attendance.started_at, format: :hour) if attendance.started_at.present? %>
					<!--後置きのifによって、started_atの値が存在する場合のみ表示できるよう制御しています-->
				</td>
				<td><%= l(attendance.started_at, format: :minute) if attendance.started_at.present? %></td>
				<td>
				<!--Attendances Helperにattendance_state(attendance)を定義した為下記の記述になる-->
				<% if btn_text = attendance_state(attendance) %>
					<%= link_to "#{btn_text}", user_attendance_path(@user, attendance), method: :patch, class: "btn btn-primary btn-attendance" %>
				<% end %>
				</td>
				<td><%= l(attendance.finished_at, format: :hour) if attendance.finished_at.present? %></td>
				<td><%= l(attendance.finished_at, format: :minute) if attendance.finished_at.present? %></td>
				<td></td>
				<td>
					<% if attendance.next_day.present? %> <!-- 日をまたいだら-->
						<% if attendance.started_at.present? && attendance.finished_at.present? %>
							<%= str_times = edit_working_times(attendance.next_day, attendance.change_started_at, attendance.change_finished_at) %> <!--working_timesメソッドの値をstr_times変数に代入しています。これは在社時間を計算に使用するため-->
							<% @total_working_times = @total_working_times.to_f + str_times.to_f %>
						<% end %>
					<% else %>
						<% if attendance.started_at.present? && attendance.finished_at.present? %>
							<%= str_times = working_times(attendance.started_at, attendance.finished_at) %> <!--working_timesメソッドの値をstr_times変数に代入しています。これは在社時間を計算に使用するため-->
							<% @total_working_times = @total_working_times.to_f + str_times.to_f %>
						<% end %>
					<% end %>
				</td>
				<td><%= attendance.note %></td>
				<td><%= l(attendance.overtime_work_end_plan, format: :hour) if attendance.overtime_work_end_plan.present? && attendance.overtime_status.approval? %></td>
				<td><%= l(attendance.overtime_work_end_plan, format: :minute) if attendance.overtime_work_end_plan.present? && attendance.overtime_status.approval? %></td>
				<td>
					<% if attendance.started_at.present? && attendance.overtime_work_end_plan.present? %>
						<%= hours_of_overtime(attendance.next_day, @user.designated_work_end_time, attendance.overtime_work_end_plan) if attendance.overtime_work_end_plan.present? && attendance.overtime_status.approval? %>
					<% end %>
				</td>
				<td><%= attendance.overtime_content if attendance.overtime_work_end_plan.present? && attendance.overtime_status.approval? %></td>
				<!-- superiorはattendance.rbにてselect_superior_idを外部キーとして設定-->
				<td>
					<%= overtime_reply_text(attendance) %><br>
					<%= change_attendance_reply_text(attendance) %>
				</td>
			</tr>
		<% end %>
		</tbody>
		
		<tfoot>
			<tr>
				<td rowspan="2"></td>
				<td colspan="2">累計日数</td>
				<td colspan="6"></td>
				<td>在社時間合計</td>
				<td colspan="5"></td>
				<td rowspan="2">
				<div class="month-apply-form">
					<!--userコントローラーでfind_or_create_byメソッドを定義-->
					<!--今回このfind_or_create_byメソッドは、新規で申請の時@month_report（createアクション）、再申請はformで定義のupdateアクションに振り分けられる-->
						<%= form_with(model: @month_report, url: user_month_report_path(@user, @month_report), local: true) do |f| %>
							所属長承認 :<% if @month_report.status.present? %>
														<%= month_report_status_text(@month_report) %>
													<% else %>
														<%= '未' %>
													<% end %>
							<%= f.hidden_field :month %>
							<%= f.select :approver_id, @superiors.map { |u| [u.name, u.id] }, { include_blank: '選択してください' }, {class: "form-control month-report-form", required: true} %>
							<%= f.submit '申請', class: "btn btn-block btn-success" %>
						<% end %>
				</div>
				</td>
				</tr>
				<tr>
				<td colspan="2"><%= @attendances.count %></td>
				<!--@attendances = @user.attendances.where(worked_on: @first_day..@last_day).order(worked_on)-->
				<td colspan="6"></td>
				<td><%= format("%.2f", @total_working_times.to_f)%></td>
				<td colspan="5"></td>
			</tr>
		</tfoot>
	</table>
</div>



<!--残業申請モーダルウインドウ表示-->
<div id="edit-overtime-work-end-plan" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!-- 通知から勤怠変更申請モーダル表示 -->
<div id="change_attendance_employee_index" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!--上長画面：通知から残業申請モーダルウインドウ表示-->
<div id="overtime_employee_index" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!--上長画面：通知から1ヶ月分の勤怠申請モーダルウインドウ表示-->
<div id="receiving_index" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>