<% provide(:title, 'All Users') %>

<h1>ユーザー一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :exmple %></th>
      </tr>
    </thead>
    
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %> <!-- link_to入れない-->
          </br><%= "|" %> 
            <%= link_to "削除", user, method: :delete,
              data: { confirm: "削除してよろしいですか？" },
              class: "btn btn-primary" %>
          </br>
          <%= link_to "編集", '#', class: "btn btn-primary" %>
          <td>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>