<% provide(:title, 'All Users') %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '更新') %>

<div class="center">
  <% if params[:search].blank? %>
   <h1>ユーザー一覧</h1>
   <% else %>
   <h1>検索結果</h1>
   <% end %>
</div>
<!--検索機能　user.rbとusers_controllerにも定義-->
<div class="col-md-2 col-md-offset-5 input-group">
  <P>ユーザー名検索</P>
  <%= form_tag(users_path, :method => "get") do %> <!--method: :getでもOK-->
  <span class="input-group-btn">
    <%= text_field_tag :search, params[:search], placeholder: 'キーワードを入力', class: "form-control" %>  
    <%= submit_tag "検索", :name => nil, class: "btn btn-primary" %> <!--name: :nilでもOK-->
  </span>
  <%= link_to :back do %><button class="btn btn-default btn-return">戻る</button>
  <% end %>
</div>
<% end %>
</div> 

<div class="col-md-5 col-md-offset-2">
   <%= file_field_tag "upload" %>
   <%= submit_tag "CSVをインポート", class: "btn btn-primary" %>
</div>


<div class="col-md-8 col-md-offset-2">
  <%= will_paginate %>
  <div class="row">
    <% @users.each do |user| %>
        <p><%= user.name %></p>
        <p>⬛️
        <%= link_to "削除", user, method: :delete,
          data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %>
        </P>
     <div class="well well-sm"> <!--.wellクラスは、灰色の背景色と少々のパディングを持ち、要素の周りに丸みのある境界線を追加-->
       <div>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#demo<%= user.id %>">編集</button>
                                                                                        <!-- user.idを渡して各ユーザーに紐付け -->
          <div id="demo<%= user.id %>" class="collapse"><!-- user.idを渡して各ユーザーに紐付け -->
            <%= render 'form', { user: user } %> <!-- render partial: 'form', locals: { user: user } でも可。 -->
                                                 <!--データを渡すには、 render メソッドの locals オプションを利用
                                                     locals オプションにはオブジェクトを渡します。
                                                      オブジェクトのキー名がパーシャル内で参照できる値になります-->
          </div>
       </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate %>
</div>

</div>

<!--モーダルウインドウ表示-->
<!--<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>-->

<!--次はモーダルウインドウ部分となるパーシャルファイルと、
パーシャルをモーダルウインドウとして表示するためのJavaScriptファイルを作りましょう
$ touch app/views/users/_edit_basic_info.html.erb
$ touch app/views/users/edit_basic_info.js.erb   -->