<% provide(:title, '拠点') %>

<h1>拠点一覧</h1>

<div>
  <table class="table table-bordered table-condensed table-hover base-table">
    <thead>
      <tr>
        <td></td>
        <td></td>
        <td>拠点番号</td>
        <td>拠点名</td>
        <td>勤怠種類</td>
      </tr>
    </thead>
    <% @bases.each do |base| %>
    <tbody>
      <tr>
        <td><%= link_to "修正", edit_basis_path(base.id), class: "btn btn-primary" %></td>
        <td><%= link_to "削除", base, method: :delete,
          data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %></td>
        <td><%= base.base_number %></td>
        <td><%= base.base_name %></td>
        <td><%= base.base_type %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>

<div>
  
</div>

<div class="well well-sm">
  <div>
    <%= link_to "拠点情報追加", new_basis_path(current_user), class: "btn btn-primary btn-lg" %>
  </div>
</div>