<% provide(:class_text, 'overtime_work_end_plan') %>
<% provide(:button_text, '申請する') %>

<%= form_with(model: @attendance, url: user_attendance_update_overtime_work_end_plan_path(@user, @attendance), local: true, method: :patch) do |f| %>                                                    
  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title">【残業申請】</h1>
      </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <table class="table table-bordered table-condensed table-hover" id="table-overtime_work_end_plan">
                <thead>
                  <tr>
                    <th>日付</th>
                    <th>曜日</th>
                    <th>終了予定時刻</th>
                    <th>翌日</th>
                    <th>業務処理内容</th>
                    <th>指示者確認<%= "\u329e" %></th>
                  </tr>
                </thead>      
                <tbody>
                  <td><%= l(@attendance.worked_on, format: :short) %></td>
                  <td>
                    <% if @attendance.worked_on == 0 %> <!--日曜日の色 赤-->
                      <font color="#ff000">
                    <% elsif @attendance.worked_on == 6 %> <!--土曜日の色 青-->
                      <font color="#0033cc">
                    <% end %>
                    <%= $days_of_the_week[@attendance.worked_on.wday] %>
                  </td>
                  <td><%= f.time_field :overtime_work_end_plan, class: "form-control", required: true %></td>
                  <td><%= f.check_box :next_day %></td>
                  <td><%= f.text_field :overtime_content, class: "form-control", required: true %></td>
                  <td><%= f.select :select_superior_id, @superiors.map { |u| [u.name, u.id] }, { include_blank: '選択してください' }, {class: "form-control", required: true} %></td>
                    <!-- with_role は Enumerize で追加された scope -->
                </tbody>
              </table>
            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>