<% provide(:class_text, 'overtime_work_end_plan') %>
<% provide(:button_text, '申請する') %>

<%= form_with(model: @user, url: attendances_update_overtime_work_end_plan_user_path(@user), local: true, method: :patch) do |f| %>
  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title">【残業申請】</h1>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <table class="table table-bordered table-condensed table-hover" id="table-overtime_work_end_plan">
              <thead>
                <tr>
                  <th>日付</th>
                  <th>曜日</th>
                  <th>終了予定時刻</th>
                  <th>翌日</th>
                  <th>業務処理内容</th>
                  <th>指示書確認<%= "\u329e" %></th>
                </tr>
              </thead>      
              <tbody>
                <td><%= l(@day, format: :short) %></td>
                <td>
                  <% if @day.wday == 0 %> <!--日曜日の色　赤-->
                    <font color="#ff000">
                  <% elsif @day.wday == 6 %> <!--土曜日の色　青-->
                    <font color="#0033cc">
                  <% end %>
                  <%= $days_of_the_week[@day.wday] %>
                </td>
                <td><%= f.time_select :overtime_work_end_plan, readonly: true, class: "form-control" %></td>
                <td><%= f.check_box :checkbox %></td>
                <td><%= f.text_field :note, class: "form-control" %></td>
                <td><%= f.select :confirmation, [['上長A', "上長A"], ['上長B', "上長B"]], { selected: 1 }, { id: "overtime_id", class: "form-control"} %></td>
              </tbody>
            </table>
            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>