<% provide(:title, @user.name) %>

<div>
  <h1>勤怠編集</h1>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>出社</th>
        <th>退社</th>
        <th>翌日</th>
        <th>在社時間</th>
        <th>備考</th>
        <th>指示者確認<%= "\u329e" %></th>
        <th>送信</th>
        <th>キャンセル</tgh>
      </tr>
    </thead>
    
    <tbody>
      <!-- アプリケーションコントローラーで定義 @attendances = @user.attendances.where(worked_on: @first_day..@last_day).order(:worked_on) -->
      <% @attendances.each do |attendance| %> 
        <tr>
          <td><%= l(attendance.worked_on, format: :short) %></td>
          <td>
            <% if attendance.worked_on.wday == 0 %> <!--日曜日の色 赤-->
              <font color="#ff000">
            <% elsif attendance.worked_on.wday == 6 %> <!--土曜日の色 青-->
              <font color="#0033cc">
            <% end %>
            <%= $days_of_the_week[attendance.worked_on.wday] %>
          </td>
          <!-- user_attendance_overtime_approval_reply PATCH  /users/:user_id/attendances/:attendance_id/overtime_approval_reply -->
          <%= form_with(model: attendance, url: user_attendance_change_attendance_applying_path(@user, attendance), local: true, method: :patch) do |f| %>
            <!--NOTE: &.(ぼっち演算子)とはレシーバーであるオブジェクトがnilでなければそのまま結果を返し、nilの場合はnilを返すメソッド-->
            <!-- value: f.object.started_at&.strftime("%H:%M")は勤怠ページの時間を反映させる -->
            <td><%= f.time_field :change_started_at, value: f.object.started_at&.strftime("%H:%M"), class: "form-control", required: true %></td>
            <td><%= f.time_field :change_finished_at, value: f.object.finished_at&.strftime("%H:%M"), class: "form-control", required: true %></td>
            <td><%= f.check_box :next_day %></td>
            <td>
              <% if attendance.started_at.present? && attendance.finished_at.present? %>
                <%= working_times(attendance.started_at, attendance.finished_at) %>
              <% end %>
            </td>
            <td><%= f.text_field :change_note, class: "form-control", required: true %></td>
            <td><%= f.select :change_attendance_superior_id, @superior.with_role(:superior).map { |u| [u.name, u.id] }, { include_blank: '選択してください' }, {class: "form-control", required: true} %></td>
                  <!-- with_role は Enumerize で追加された scope -->
            <td><%= f.submit '編集を保存する', class: "btn btn-lg btn-success" %></td>
            <td><%= link_to "キャンセル", user_path(@user, date: @first_day), class: "btn btn-lg btn-default" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>