<% provide(:title, @user.name) %>

<%= form_with(model: @user, url: attendances_updating_one_month_user_path(date: @first_day), local: true, method: :patch) do |f| %>
  <div>
    <h1>勤怠編集画面</h1>
    <table class="table table-bordered table-condensed table-hover" id="table-attendances">
      <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>出社</th>
          <th>退社</th>
          <th>翌日</th>
          <th>在社時間</th>
          <th>変更理由</th>
          <th>指示者確認<%= "\u329e" %></th>
          <th>申請状況</th>
        </tr>
      </thead>
      <tbody>
        <!--@attendances = @user.attendances.where(worked_on: @first_day..@last_day).order(:worked_on)-->
        <% @attendances.each do |day| %>
          <%= f.fields_for "attendances[]", day do |attendance| %>
            <tr>
              <td><%= l(day.worked_on, format: :short) %></td>
              <td>
                <% if day.worked_on.wday == 0 %> <!--日曜日の色 赤-->
                  <font color="#ff000">
                <% elsif day.worked_on.wday == 6 %> <!--土曜日の色 青-->
                  <font color="#0033cc">
                <% end %>
                <%= $days_of_the_week[day.worked_on.wday] %></td>
              <td><%= attendance.time_field :change_started_at, value: attendance.object.started_at&.strftime("%H:%M"), class: "form-control" %></td>
              <td><%= attendance.time_field :change_finished_at, value: attendance.object.finished_at&.strftime("%H:%M"), class: "form-control" %></td>
              <td><%= attendance.check_box :next_day, {}, true, nil %></td>
              <td>
                <% if day.change_started_at.present? && day.change_finished_at.present? %>
                  <%= edit_working_times(day.next_day, day.change_started_at, day.change_finished_at) %>
                <% end %>
              </td>
              <td><%= attendance.text_field :change_note,  value: attendance.object.change_note, class: "form-control" %></td>
              <td><%= attendance.select :change_attendance_superior_id, @superiors.map { |u| [u.name, u.id] }, { include_blank: '上長選択' }, {class: "form-control"} %></td>
              <td><%= day.change_attendance_status_text %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="center">
    <%= f.submit "変更を送信", class: "btn btn-lg btn-primary" %>
    <%= link_to "キャンセル", user_path(date: @first_day), class: "btn btn-lg btn-default" %>
  </div>
<% end %>