<!DOCTYPE html> 
<html>
  <head>
    <title><%= full_title(yield(:title)) %>| AttendanceApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= render 'layouts/shim' %> <!-- パーシャルを定義　HTML shimがこの１行で収まる -->
    
  </head>
  
  <body>
    
    <%= render 'layouts/header' %> <!-- パーシャルを定義　headerの内容がこの１行で収まる -->
    
    <div class="container">
      <% flash.each do |message_type, msg| %> <!--flashというオブジェクトを対象にハッシュのキーとバリューを繰り返し処理するプログラム-->
        <div class="alert alert-<%= message_type %>"><%= msg %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %> <!--真(true)であればdebug(params)が表示される-->
    </div>
  </body>
</html>
